.transactionTable {
  width: 40em;
  margin: 15px auto;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
  font-size: 15px;
}

.transactionTable thead {
  background-color: #1d1818;
  color: whitesmoke;
  font-weight: bold;
}

.transactionTable th,
.transactionTable td {
  padding: 5px;
  border: 1px solid #020101;
}

.transactionTable tr:nth-child(even) {
  background-color: rgb(218, 212, 212);
}
